@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Rubik+Pixels&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fc71bf33-349e-46d8-becc-4a371e09e385/dawcqaj-495934c0-3922-44e6-95b6-648f7365403f.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZjNzFiZjMzLTM0OWUtNDZkOC1iZWNjLTRhMzcxZTA5ZTM4NVwvZGF3Y3Fhai00OTU5MzRjMC0zOTIyLTQ0ZTYtOTViNi02NDhmNzM2NTQwM2YuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.on-IZtvi3FDimjBWjPzB-mHmQ3gOFzqEMux6WOSQVQQ);
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	min-height: 900px;
}

#top {
	background-color: rgb(120,141,165);
	padding: 20px 10px 15px;
	border-color: rgb(255, 255, 255);
	border-style: double;
	border-width: 15px;
	font-family: 'Pixelify Sans';
	font-size: 20px;
	margin: auto;
	color: white;
	text-align: center;
	padding: 30px;
}

#top span {
	background-color: yellow;
	color: black;
}

#projectlist a {
	align-items: center;
	color: white;
	display: flex;
	font-family: 'Pixelify Sans';
	font-size: 18px;
	justify-content: center;
	position: relative;
	min-height: 100px;
	max-width: 1000px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

a.project1 {
	background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	border-radius: 10px;
	display: block;
}

a.project1:hover {
	background-position: center;
	box-shadow: 0 0 20px olivedrab;
	color: #fff;
	text-decoration: none;
}

a.project2 {
	background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	border-radius: 10px;
	display: block;
}

a.project2:hover {
	background-position: center;
	box-shadow: 0 0 20px olivedrab;
	color: #fff;
	text-decoration: none;
}

#bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px 30px;
	width: 100%;
	background-color: rgb(120,141,165);
	color: white;
	font-family: 'Pixelify Sans';
	font-size: 20px;
	margin: auto;
	text-align: right;
}
