* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  background: #eee;
  user-select: none;
}

[type=radio] {
  display: none;
}

#artworkSlider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#artworkSlider label {
  margin: auto;
  width: 50%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#artwork-s1:checked ~ #artwork4, #artwork-s2:checked ~ #artwork5,
#artwork-s3:checked ~ #artwork1, #artwork-s4:checked ~ #artwork2,
#artwork-s5:checked ~ #artwork3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-300px);
}

#artwork-s1:checked ~ #artwork5, #artwork-s2:checked ~ #artwork1,
#artwork-s3:checked ~ #artwork2, #artwork-s4:checked ~ #artwork3,
#artwork-s5:checked ~ #artwork4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#artwork-s1:checked ~ #artwork1, #artwork-s2:checked ~ #artwork2,
#artwork-s3:checked ~ #artwork3, #artwork-s4:checked ~ #artwork4,
#artwork-s5:checked ~ #artwork5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#artwork-s1:checked ~ #artwork2, #artwork-s2:checked ~ #artwork3,
#artwork-s3:checked ~ #artwork4, #artwork-s4:checked ~ #artwork5,
#artwork-s5:checked ~ #artwork1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#artwork-s1:checked ~ #artwork3, #artwork-s2:checked ~ #artwork4,
#artwork-s3:checked ~ #artwork5, #artwork-s4:checked ~ #artwork1,
#artwork-s5:checked ~ #artwork2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#artwork1 { background: url(/portfolio/assets/artworkPortfolio/1.jpg) no-repeat; background-size: cover; background-position: top center;}
#artwork2 { background: url(/portfolio/assets/artworkPortfolio/2.jpg) no-repeat; background-size: cover; background-position: center;}
#artwork3 { background: url(/portfolio/assets/artworkPortfolio/3.jpg) no-repeat; background-size: cover; background-position: top center;}
#artwork4 { background: url(/portfolio/assets/artworkPortfolio/4.jpg) no-repeat; background-size: cover; background-position: center;}
#artwork5 { background: url(/portfolio/assets/artworkPortfolio/5.jpg) no-repeat; background-size: cover; background-position: center;}