@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&family=Zen+Old+Mincho:wght@400;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

#tb-form {
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
    font-family: 'Zen Old Mincho', serif;
    font-size: 18px;
    display: block;
}


.container {
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 0 40px rgb(0, 0, 0);
    margin: 30px 500px;
    max-width: 100%;
    padding: 25px;
}

.tb {
    border-bottom: solid 5px #00bf72;
    padding-bottom: 30px;
    text-align: center;
}

.tb h1 {
    font-family: 'Yuji Boku', serif;
}

.tb h2, h4 {
    margin-bottom: 10px;
}

.tb

.tb1 th {
    background-color: rgba(253,187,45,1);
}

#panasonic-honda-tb1 {
    background-color: bisque;
}

.tb2 {
    margin-top: 10px;
}

.tb2 th {
    background-color: rgba(253,187,45,1);
}

/*form*/

form {
    display: block;
    max-width: 1000px;
    margin: auto;
}

.form {
    margin-top: 20px;
}

.form h2 {
    display: block;
    text-align: center;
}

.form label {
    display: block;
    margin-top: 5px;
    width: 100%;
}

.form input, .form select {
    border: none;
    display: block;
    margin-top: 3px;
    padding: 5px;
    width: 100%;
}

#businesstype {
    cursor: pointer;
}

.form textarea {
    cursor: text;
    padding: 10px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    text-align: start;
    text-rendering: auto;
    width: 100%;
}

.form button {
    background: linear-gradient(180deg, rgba(202,213,223,1) 0%, rgba(240,248,255,1) 50%, rgba(202,213,223,1) 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: black;
    font-size: 15px;

    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.form button:hover {
    background: rgb(88,94,101);
background: linear-gradient(180deg, rgba(88,94,101,1) 0%, rgba(118,127,135,1) 50%, rgba(88,94,101,1) 100%);
    border: none;
    border-radius: 5px;
    color: white;
}

@media only screen and (min-width:320px) and (max-width: 1090px) {
    .container {
        margin: 15px 0px;
        padding: 15px;
    }
}