@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&family=Zen+Old+Mincho:wght@400;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

#tb-form {
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
    font-family: 'Zen Old Mincho', serif;
    font-size: 18px;
    display: block;
}

.container {
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 0 40px rgb(0, 0, 0);
    margin: 25px auto;
    max-width: 100%;
    padding: 25px;
    width: 900px;
}

.tb {
    border-bottom: solid 5px #00bf72;
    padding-bottom: 30px;
    text-align: center;
}

.tb h1 {
    font-family: 'Yuji Boku', serif;
}

.tb h2, h4 {
    margin-bottom: 10px;
}

.tb

.tb1 th, .tb2 th {
    background-color: rgba(253,187,45,1);
}

#panasonic-honda-tb1 {
    background-color: bisque;
}

.tb2 {
    margin-top: 10px;
}

.tb1 td, .tb2 td {
    background-color: #fff;
}

/*form*/

form {
    display: block;
    max-width: 1000px;
    margin: auto;
}

.form {
    margin-top: 20px;
}

.form h2 {
    display: block;
    text-align: center;
}

.form label {
    display: block;
    margin-top: 5px;
    width: 100%;
}

.form input, .form select {
    background-color: rgb(255, 255, 255);
    border: none;
    display: block;
    margin-top: 3px;
    padding: 5px;
    width: 100%;
}

#businesstype {
    cursor: pointer;
}

.form textarea {
    cursor: text;
    padding: 10px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    text-align: start;
    text-rendering: auto;
    width: 100%;
}

.form button {
    box-shadow: 1px 1px 12px #000000;
    color: #000000;
    display: inline-block;
    font-size: 16px;
  
    border-radius: 30em;
    border-style: none;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: hidden;
  
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .form button::before {
    background-color: rgb(75, 75, 75);
    content: "";
  
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
    transform: translateX(-101%);
    transition: all .3s ease;
    z-index: -1;
  }
  
  .form button:hover {
    color: #ffffff;
    transition: all .3s ease rgb(255, 255, 255);
  }
  
  .form button:hover::before {
    transform: translateX(0);
  }

.btn-home {
    background-position: center;
    border: none;
    margin-right: 5px;
    margin-bottom: 25px;
    bottom: 0px;
    right: 25px;
    position: fixed;
    transition: 0.4s;
}

.btn-home:hover {
    transform: translateY(-10px);
}

@media only screen and (min-width:320px) and (max-width: 1090px) {
    .container {
        margin: 15px auto;
        padding: 15px;
        max-width: 100%;
    }

    .form button {
        margin-top: 10px;
    }

    .btn-home {
        background-color: #3e8bc1;
        position: fixed;
        display: block;
        
        margin: 0 auto;
        z-index: 9999;
    }

    .btn-home:hover {
        transform: none;
    }
}