@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
    background-color: #fff;
    width: 100%;
    font-family: 'Zen Old Mincho';
}

#header-slider {
	overflow: hidden;
    overflow-x: hidden;
}

@keyframes slider {
  20% {margin-left: 0px;}
  30% {margin-left: -100%;}
  50% {margin-left: -100%;}
  60% {margin-left: -200%;}
  70% {margin-left: -200%;}
  80% {margin-left: 0px;}
  90% {margin-left: 0px;}
}

figure.slider {
    animation: 30s slider infinite;
    position: relative;
    width: 500%;
    height: 680px;
    position: relative;
}

figure.slider figure {
    display: inline-block;
    position: inherit;

    height: auto;
    width: 20%;
}

figure.slider img {
    height: auto;
    width: 100%;
}

/*TITLE BELOM*/

.title {
    position: absolute;
    top: 25%;
    margin-left: 30px;
}

.lead1, .lead2 {
    font-size: 30px;
    color: yellow;
    position: relative;
    z-index: 2;
}

.lead1::before, .lead2::before {
    position: absolute;
    content: "";
    height: 25px;
    bottom: -5px;
    left: -30px;
    right: 20px;
    background: rgb(102, 102, 0);
    z-index: -1;
}

/*HEADER BLOM DIKASIH ANIMASI SLIDER*/

.nav-mobile {
    display: none;
}

.nav-pc {
    margin: 30px 0px 50px;
}

.nav-pc ul {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    position: relative;
}

.nav-pc ul::after {
    background: orange;
    content: '';
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 35%;
    z-index: -1;
}

.nav-pc li {
    padding: 0px 50px;
}

.nav-pc ul > li:not(:last-child) > a {
    position: relative;
}

.nav-pc ul > li:not(:last-child) > a::after {
    content: "";
    height: 100%;
    width: 1px;
    background: black;
    display: block;
    position: absolute;
    right: -40%;
    top: 20%;
    margin-top: -15px;
}

.nav-pc a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 21px;
    text-align: center;
    padding: 5px;
}

.nav-pc a:hover {
    background-color: orange;
    color: white;
    padding: 5px;
}

/* -------------- */
.menu-container {
    width: 100%;
}

/* MENU 1 FAMILY */

#menu1-family {
    background: url(assets/menu1-family/bg-menu1.png) no-repeat;
    background-position: right 35% bottom 55%;
    background-size: cover;
}

.menuWrapper {
    max-width: 990px;
    width: 100%;
    margin: auto;
    padding: 50px 0px 50px;
    position: relative;
}

.menu1-title {
    padding: 35px 0px 50px 0px;
}

.menu1-title2 {
    position: relative;
    z-index: 2;
}

.menu1-title2::before {
    position: absolute;
    content: "";
    height: 25px;
    bottom: 0px;
    left: -220px;
    right: -20px;
    background: rgb(204, 153, 0);
    z-index: -1;
}

.menu1-title h2 {
    text-align: right;
    font-size: 35px;
    color: rgb(153, 102, 51);
    width: 100%;
}

.menu1-menuContent {
    display: flex;
}

/*Menu 1 Slider*/

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.menu1-CSSgal {
    margin-left: 30px;
	position: relative;
	overflow: hidden;
	height: 255px;
  	width: 360px;
    max-width: 100%;
    box-shadow: 22px 30px 0px 0px rgba(255, 153, 0, 0.65);
}

/* SLIDER */

s {
    display: none;
}

.menu1-CSSgal .menu1-slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.menu1-CSSgal .menu1-slider > * {
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.menu1-CSSgal .menu1-prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.menu1-CSSgal .menu1-prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.menu1-CSSgal .menu1-prevNext a {
	background: #fff;
	color: black;
	position: absolute;
	width:       30px;
	height:      30px;
	line-height: 30px;  /*If you want to place numbers */
	font-size: 20px;
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.menu1-CSSgal .menu1-prevNext a:hover {
	opacity: 1;
}
.menu1-CSSgal .menu1-prevNext a+a {
	left: auto;
	right: 0;
}


/* ALL: */
.menu1-CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#menu1-s1:target ~ .menu1-prevNext >*:nth-child(1) {visibility: visible;}
#menu1-s2:target ~ .menu1-prevNext >*:nth-child(2) {visibility: visible;}
#menu1-s3:target ~ .menu1-prevNext >*:nth-child(3) {visibility: visible;}
#menu1-s4:target ~ .menu1-prevNext >*:nth-child(4) {visibility: visible;}
#menu1-s5:target ~ .menu1-prevNext >*:nth-child(5) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#menu1-s1:target ~ .menu1-slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#menu1-s2:target ~ .menu1-slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#menu1-s3:target ~ .menu1-slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#menu1-s4:target ~ .menu1-slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#menu1-s5:target ~ .menu1-slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.menu1-caption {
    margin-top: 50%;
}

.menu1-caption p {
	font-size: 11px;
	padding: 5px 10px;
	color: #fff;
	text-align: center;
    word-spacing: 5px;
	background: rgba(0, 0, 0, 0.6);
}

.menu1-CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

/*end of menu 1 gallery*/

.menu1-plan {
    margin-left: 100px;
}

.menu1-plan a {
    text-decoration: none;
    color: #fff;
}

.menu1-plan ul>li {
    list-style: url(assets/listStyle-momiji.png);
    margin-bottom: 10px;
}

.menu1-plan h2 {
    color: rgb(153, 102, 51);
    font-size: 20px;
    border-bottom: solid rgb(255, 204, 102) 5px;
}

span#menu1__plan1 {
    color: rgb(244, 170, 136);
}

span#menu1__plan2 {
    color: rgb(124, 158, 90);
}


.menu1__plan1-btn {
    background-color: rgb(240, 132, 74);
    width: 300px;
    height: 50px;
}

.menu1__plan1-btn:active {
    background-color: rgb(186, 98, 51);
}

.menu1__plan2-btn {
    background-color: rgb(182, 169, 63);
    width: 300px;
    height: 50px;
}

.menu1__plan2-btn:active {
    background-color: rgb(134, 124, 47);
}

.plan__btn {
    text-align: center;
    padding: 11px;
}


/* MENU 2 BABY */

#menu2-baby {
    background: url(assets/menu2-baby/bg-menu2.png) no-repeat;
    background-size: cover;
    position: relative;
}

.menu2-title {
    display: block;
    text-align: center;
}

.menu2-title img {
    margin: 50px 0 20px;
}

.menu2-titleLine {
    background-color: white;
    height: 10px;
    width: 100%;
}

.menu2-collage {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 6vw);
    grid-gap: 15px;
}

.collage__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.collage__item--1 {
    object-position: left 3;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.collage__item--1 img {
    object-position: 73%;
}

.collage__item--2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.collage__item--3 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.collage__item--4 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}

.collage__item--4 img {
    object-position: top;
}

/*COLLAGE NYA NANTI DIPAKEIN HOVER BUAT GEDEIN GAMBAR (maybe?)*/

.menu2-plan-desc {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 50px;
}

.menu2-planMobile {
    display: none;
}

.menu2-plan ul {
    margin-right: 20px;
}

.menu2-plan a {
    color: #fff;
    text-decoration: none;
}

.menu2-plan ul>li {
    list-style: url(assets/listStyle-momiji.png);
    margin-bottom: 15px;
}

.menu2-plan h2 {
    color: rgb(153, 102, 51);
    font-size: 25px;
    border-bottom: solid olive 5px;
}

.menu2-desc {
    background: rgb(253, 227, 139);
    border: solid olive 5px;
    text-align: center;
}

.menu2-desc p {
    font-size: 16px;
    padding: 20px;
}

#menu2-planSpan {
    color: rgb(153, 102, 51);
}

.menu2__plan-btn {
    background-color: rgb(219, 140, 44);
    width: 300px;
    height: 50px;
}

.menu2__plan-btn:active {
    background-color: rgb(150, 96, 29);
}

.menu2-decor {
    padding-top: 100px;
    pointer-events: none;
}

.menu2-decor img {
    width: 100%;
}

#menu2-decor1 {
    position: absolute;
    width: 300px;
    max-width: 100%;
    bottom: 0px;
    right: 50%;
}

#menu2-grass {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#menu2-grassMobile {
    display: none;
}

/* MENU 3 CAMP */

#menu3-camp {
    background: url(assets/menu3-camp/menu3-bg.png) no-repeat;
    background-size: cover;
}

.menu3-title {
    padding-top: 30px;
    position: relative;
}

.menu3-title img {
    width: 100%;
}

/* Menu 3 Slider */

.menu3-CSSgal {
	border-radius: 50px;
    margin: auto;
	position: relative;
	overflow: hidden;
	height: 500px;
  	width: 930px;
    max-width: 100%;
}

/* SLIDER */

.menu3-CSSgal .menu3-slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
    position: relative;
}

/* SLIDES */

.menu3-CSSgal .menu3-slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.menu3-CSSgal .menu3-prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.menu3-CSSgal .menu3-prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.menu3-CSSgal .menu3-prevNext a {
	background: #fff;
	color: black;
	position: absolute;
	font-size: 30px;
	width:       40px;
	height:      40px;
	line-height: 40px;
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.menu3-CSSgal .menu3-prevNext a:hover {
	opacity: 1;
}
.menu3-CSSgal .menu3-prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.menu3-CSSgal .menu3-bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.menu3-CSSgal .menu3-bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.menu3-CSSgal .menu3-bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.menu3-CSSgal .menu3-bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.menu3-CSSgal >s:target ~ .menu3-bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#menu3-s1:target ~ .menu3-bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#menu3-s2:target ~ .menu3-bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#menu3-s3:target ~ .menu3-bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#menu3-s4:target ~ .menu3-bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#menu3-s5:target ~ .menu3-bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.menu3-CSSgal >s:target ~ .menu3-prevNext >* {visibility: hidden;}
/* ACTIVE: */
#menu3-s1:target ~ .menu3-prevNext >*:nth-child(1) {visibility: visible;}
#menu3-s2:target ~ .menu3-prevNext >*:nth-child(2) {visibility: visible;}
#menu3-s3:target ~ .menu3-prevNext >*:nth-child(3) {visibility: visible;}
#menu3-s4:target ~ .menu3-prevNext >*:nth-child(4) {visibility: visible;}
#menu3-s5:target ~ .menu3-prevNext >*:nth-child(5) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#menu3-s1:target ~ .menu3-slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#menu3-s2:target ~ .menu3-slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#menu3-s3:target ~ .menu3-slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#menu3-s4:target ~ .menu3-slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#menu3-s5:target ~ .menu3-slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.menu3-CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

.menu3-carousel {
    position: relative;
    width: 100%;
}

.menu3-carousel::before {
    position: absolute;
    content: "";
    background: url("assets/menu3-camp/menu3-decorBonfire.png") no-repeat center;
    background-size: cover;
    width:  150px;
    height: 26%;
    bottom: -5%;
    left: 0px;
    z-index: 99;
}

.menu3-carousel::after {
    position: absolute;
    content: "";
    background: url("assets/menu3-camp/menu3-decorTent.png") no-repeat center;
    background-size: cover;
    width:  200px;
    height: 26%;
    bottom: -7%;
    right: -5%;
    z-index: 99;
    /*BELOM KELAR*/
}

.menu3-desc p {
    margin: 30px;
    font-size: 20px;
    word-spacing: 10px;
    text-align: center;
}

.menu3-plan {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu3-planTitle {
    background-color: rgb(102, 102, 0);
    color: white;
    padding: 15px;
}

.menu3-planTitle h3 {
    color: rgb(255, 255, 204);
}

.menu3-plan1__option {
    color: rgb(247, 201, 187);
}

.menu3-plan2__option {
    color: rgb(198, 247, 146);
}

.menu3-planPerson {
    background-color: rgb(129, 92, 38);
    color: white;
    padding: 7px;
}

.menu3-planPrice {
    background-color: rgb(239, 238, 195);
    font-size: 23px;
    padding: 15px;
    color: rgb(102, 51, 0);
    font-weight: bolder;
}

.menu3-planPrice a {
    color: black;
}

/* MENU 4 BUFFET */

#menu4-buffet {
    background: url(assets/menu4-buffet/menu4-bg.png) no-repeat;
    background-size: cover;
}

.menu4-title {
    padding: 60px 0px 50px 0px;
}

.menu4-title2 {
    position: relative;
    z-index: 2;
}

.menu4-title2::before {
    position: absolute;
    content: "";
    height: 25px;
    bottom: 0px;
    left: -220px;
    right: -20px;
    background: rgb(204, 204, 102);
    z-index: -1;
}

.menu4-title h2 {
    text-align: right;
    font-size: 35px;
    color: rgb(144, 86, 33);
}

/* MENU 4 SLIDER */

.menu4-CSSgal {
	border-radius: 50px;
    margin: auto;
	position: relative;
	overflow: hidden;
	height: 500px;
  	width: 930px;
    max-width: 100%;
}

/* SLIDER */

.menu4-CSSgal .menu4-slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
    position: relative;
}

/* SLIDES */

.menu4-CSSgal .menu4-slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.menu4-CSSgal .menu4-prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.menu4-CSSgal .menu4-prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.menu4-CSSgal .menu4-prevNext a {
	background: #fff;
	color: black;
	position: absolute;
	font-size: 30px;
	width:       40px;
	height:      40px;
	line-height: 40px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.menu4-CSSgal .menu4-prevNext a:hover {
	opacity: 1;
}
.menu4-CSSgal .menu4-prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.menu4-CSSgal .menu4-bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.menu4-CSSgal .menu4-bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.menu4-CSSgal .menu4-bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.menu4-CSSgal .menu4-bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.menu4-CSSgal >s:target ~ .menu4-bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#menu4-s1:target ~ .menu4-bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#menu4-s2:target ~ .menu4-bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#menu4-s3:target ~ .menu4-bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#menu4-s4:target ~ .menu4-bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#menu4-s5:target ~ .menu4-bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
#menu4-s6:target ~ .menu4-bullets >*:nth-child(6) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.menu4-CSSgal >s:target ~ .menu4-prevNext >* {visibility: hidden;}
/* ACTIVE: */
#menu4-s1:target ~ .menu4-prevNext >*:nth-child(1) {visibility: visible;}
#menu4-s2:target ~ .menu4-prevNext >*:nth-child(2) {visibility: visible;}
#menu4-s3:target ~ .menu4-prevNext >*:nth-child(3) {visibility: visible;}
#menu4-s4:target ~ .menu4-prevNext >*:nth-child(4) {visibility: visible;}
#menu4-s5:target ~ .menu4-prevNext >*:nth-child(5) {visibility: visible;}
#menu4-s6:target ~ .menu4-prevNext >*:nth-child(6) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#menu4-s1:target ~ .menu4-slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#menu4-s2:target ~ .menu4-slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#menu4-s3:target ~ .menu4-slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#menu4-s4:target ~ .menu4-slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#menu4-s5:target ~ .menu4-slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#menu4-s6:target ~ .menu4-slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.menu4-CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

.menu4-carousel {
    position: relative;
    width: 100%;
}

.menu4-carousel::before {
    position: absolute;
    content: "";
    background: url("assets/menu4-buffet/menu4-tea__Decor.png") no-repeat center;
    background-size: cover;
    width:  150px;
    height: 26%;
    bottom: -5%;
    left: 0px;
    z-index: 99;
}

.menu4-carousel::after {
    position: absolute;
    content: "";
    background: url("assets/menu4-buffet/menu4-utensils__Decor.png") no-repeat center;
    background-size: cover;
    width:  80px;
    height: 26%;
    bottom: -3%;
    right: 0px;
    z-index: 99;
    /*BELOM KELAR*/
}

.menu4-desc p {
    margin: 30px;
    font-size: 20px;
    word-spacing: 10px;
    text-align: center;
}

.menu4-review {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.reviewBG img {
    width: 100%;
}

.menu4-review::before {
    position: absolute;
    content: "";
    background: url("assets/menu4-buffet/menu4-mushroom2__Decor.png") no-repeat center;
    background-size: cover;
    width:  150px;
    height: 250px;
    bottom: -12%;
    left: 20px;
    z-index: 99;
}

.menu4-review::after {
    position: absolute;
    content: "";
    background: url("assets/menu4-buffet/menu4-mushroom1__Decor.png") no-repeat center;
    background-size: cover;
    width:  200px;
    height: 200px;
    top: -25%;
    right: 25px;
    z-index: 99;
}

.reviewContainer {
    position: absolute;
    top: 15%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.reviewBG {
    width: 75%;
}

.reviewText {
    margin: 20px 0px;
    padding: 15px;
    background-color: #fff;
}

.footer {
    background: url(assets/footer/footer-bg.jpg) no-repeat;
    background-size: cover;
    padding: 30px 0 0 0;
    display: block;
    text-align: center;
    font-size: 26px;
}

.footer button {
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Zen Old Mincho';
    border: none !important;
    padding: 20px 80px;
    border-radius: 12px;
    cursor: pointer;
}

.footer button:active {
    box-shadow: none;
    transform: translate(0, 4px);
}

.couponTop-btn {
    background-color: rgb(255, 255, 204);
    box-shadow: 0 8px 0 rgb(61, 110, 61);
    margin-bottom: 30px;
}

.airplaneCoupon {
    display: flex;
    margin: 30px 0px;
    justify-content: space-evenly;
}

.airplaneCoupon button {
    color: #fff;
    padding: 20px;
}

.JAL__Coupon {
    background-color: rgb(204, 0, 0);
    box-shadow: 0 8px 0 rgb(158, 13, 13);
}

.ANA__Coupon {
    background-color: rgb(51, 102, 153);
    box-shadow: 0 8px 0 rgb(13, 61, 110);
}

.couponBottom-btn {
    background-color: gold;
    box-shadow: 0 8px 0 rgb(61, 110, 61);
}

@media only screen and (max-width: 480px) {

    .header {
        top: 0;
    }
    
    .title {
        top: 20px;
    }
    .title p {
        font-size: 10px;
    }
    
    .title img {
        width: 20%;
    }

    .lead2 {
        margin-top: -15px;
    }

    .lead1::before, .lead2::before {
        position: absolute;
        content: "";
        height: 10px;
        bottom: -2px;
        left: -30px;
        right: 150px;
    }

    /*NAVIGATION*/
    .nav-pc {
        display: none;
    }

    .nav-mobile {
        display: block;
        margin-top: -467px;
        border-top: solid 2px brown;
        border-bottom: solid 2px brown;
    }

    .nav-mobile ul {
        display: flex;
        list-style: none;
        text-align: center;
        justify-content: space-evenly;
        text-align: center;
        position: relative;
        font-size: 16px;
    }

    .nav-mobile li {
        padding-right: 2px;
    }

    .nav-mobile a {
        text-decoration: none;
        color: black;
    }

    /* MENU 1 FAMILY */

    .menu1-title h2 {
        color: white;
        font-size: 25px;
        text-align: center;
    }

    .menu1-title2::before {
        bottom: -2px;
        left: -50px;
        right: -50px;
    }

    .menu1-menuContent {
        display: block;
    }

    .menu1-caption {
        margin-top: 60%;
    }

    .menu1-caption p {
        font-size: 10px;
    }

    .menu1-CSSgal {
        margin: auto;
        width: 350px;
    }

    .menu1-plan {
        margin: 50px 30px;
        text-align: center;
    }

    .menu1__plan1-btn, .menu1__plan2-btn {
        margin: auto;
    }

    .menu1-plan h2 {
        font-size: 17px;
    }


    /*MENU 2 BABY*/

    .menu2-title img {
        width: 90%;
    }

    /*COLLAGE*/

    .menu2-collage {
        grid-gap: 5px;
        margin: 0px 30px;
    }

    .menu2-decor img {
        width: 100%;
    }

    #menu2-decor1 {
        width: 40%;
    }

    #menu2-grass {
        display: none;
    }

    #menu2-grassMobile {
        display: block;
        position: relative;
    }

    .menu2-plan-desc {
        display: block;
        text-align: center;
    }

    .menu2-desc {
        margin: 30px 50px;
    }

    .menu2-plan {
        display: none;
    }

    .menu2-planMobile {
        display: block;
    }

    .menu2-planMobile ul {
        margin-right: 20px;
    }
    
    .menu2-planMobile a {
        color: #fff;
        text-decoration: none;
    }
    
    .menu2-planMobile ul>li {
        list-style: url(assets/listStyle-momiji.png);
        margin-bottom: 15px;
    }
    
    .menu2-planMobile h2 {
        color: rgb(153, 102, 51);
        font-size: 25px;
        border-bottom: solid olive 5px;
    }

    .menu2__plan-btn {
        margin: auto;
    }
    
    /*MENU 3 CAMP*/

    .menu3-CSSgal {
        height: 300px;
        width: 80%;
    }

    .menu3-desc p {
        font-size: 16px;
    }

    .menu3-plan {
        display: block;
        margin: 0px 15px ;
    }

    .menu3-plan1 {
        margin-bottom: 30px;
    }

    .menu3-planPrice {
        font-size: 20px;
    }

    .menu3-carousel::before {
        display: none;
    }
    
    .menu3-carousel::after {
        display: none;
    }

    /*MENU 4 BUFFET*/

    .menu4-title h2 {
        font-size: 25px;
        text-align: center;
    }
    
    .menu4-title2::before {
        bottom: -2px;
        left: -50px;
        right: -50px;
    }

    .menu4-CSSgal {
        height: 300px;
        width: 80%;
    }

    .menu4-carousel::before, .menu4-carousel::after, .menu4-review::before, .menu4-review::after {
        display: none;
    }

    .reviewBG {
        width: 100%;
    }

    .reviewHeader h3 {
        font-size: 15px;
    }

    .reviewText {
        font-size: 14px;
        margin-top: 5px;
        padding: 5px;
    }

    /* FOOTER */
    .couponTop p {
        font-size: 14px;
    }

    .airplaneCoupon {
        display: block;
    }

    .JAL__Coupon {
        margin-bottom: 20px;
    }
}