

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
    background-color: maroon;
}

.container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 20%;
    left: 50%;
    overflow: hidden;
}

#header-slides {
    animation: ease-in-out 10s infinite;
    display: flex;
    width: 100%;
}

#header-slides img {
    width: 100%;
}

@keyframes header-slides{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}