@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Rubik+Pixels&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

#zoo .top {
	background-color: rgba(165, 164, 120, 0.61);
    background-size: cover;
    bottom: 500px;
    display: flex;
    justify-content: center;

	border-color: rgb(255, 255, 255);
	border-style: double;
	border-width: 15px;

	font-family: 'Pixelify Sans';
	font-size: 20px;
	margin: auto;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 30px;
}
/*yg ini dah kelar*/

.content {
    background: url(/xyz-zoo/img/zoo.jpg) center no-repeat;
    background-color: bisque;
    background-size: cover;
}

h2 {
    background-color: white;
}

.familia-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
}

#bottom span {
    background-color: white;
	color: rgb(134, 134, 98);
    margin-right: 10px;
    padding: 5px 10px
}

#bottom {
	position: relative;
	left: 0;
	bottom: 0;
	padding: 10px 30px;
	width: 100%;

	background-color: rgba(165, 164, 120, 0.61);
	color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
    justify-content: center;
    
	font-family: 'Pixelify Sans';
	font-size: 20px;
	margin: auto;
	text-align: center;
    text-transform: uppercase;
	text-decoration: none;
}

#bottom ol {
    margin-left: 30px;
}
/*Bottom kelar*/