@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Rubik+Pixels&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

#zoo .top {
	background-color: rgba(229,199,128,1);
    background-size: cover;
    display: flex;
    justify-content: center;

	border-color: rgb(255, 255, 255);
	border-style: double;
	border-width: 15px;
	
	color: rgb(156, 134, 84);
	font-family: 'Pixelify Sans';
	font-size: 20px;
	text-align: center;

	padding: 30px;
}

.top span {
	background-color: #fff;
	border: solid 5px rgb(156, 134, 84);
	padding: 10px;
}
/*yg ini dah kelar*/

body {
	background-color: antiquewhite;
	font-family: 'Pixelify Sans';
	text-transform: uppercase;
}

.container {
	background: url(../../xyz-zoo/img/zoo.jpg) center no-repeat;
	background-size: cover;
	padding: 20px;
	position: relative;
}

.animal-list {
	justify-content: center;
	list-style: none;
}
.animal-list h2 {
	background: linear-gradient(to right,  rgba(0,0,0,0) 10%,rgba(229,199,128,1) 50%,rgba(0,0,0,0) 90%);
    color: #fff;
	font-size: 30px;
    max-width: 100%;
    padding: 10px;
	text-align: center;
	text-shadow: 2px 2px #000;
}

.familia-list {
	background: #fff;
    border-radius: 10px;
	box-shadow: 0 0 40px rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 15px auto 15px;
	max-width: 50%;
    padding: 10px 15px;
}

.familia-list li {
	max-width: 45%;
	list-style: none;
}

.familia-list img {
	display: block;
	width: 100%;
}

#bottom span {
    background-color: white;
	border-right: solid 5px rgb(156, 134, 84);
	color: rgb(156, 134, 84);
    margin-right: 10px;
    padding: 5px 10px
}

#bottom {
	position: absolute;
	padding: 10px 30px;
	width: 100%;

	background-color: rgba(229,199,128,1);
	color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
    justify-content: center;
    
	font-family: 'Pixelify Sans';
	font-size: 20px;
	margin: auto;
	text-align: center;
	text-decoration: none;
}

#bottom ol {
    margin-left: 30px;
}
/*Bottom kelar*/

@media only screen and (min-width:320px) and (max-width: 1090px) {
	
	.container {
		background-attachment: fixed;
	}

	.familia-list {
		padding: 0 0 15px;
		max-width: 100%;
		list-style: none;
	}
}