@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
    background: white;
    width: 100%;
    font-family: "Poppins";
}

input {
    visibility: hidden;
}

h1 {
    color: white;
    font-size: 60px;
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.contentWrapper {
    padding: 50px 100px;
    width: 1440px;
}

/*  HEADER  */

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .hamburger__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .hamburger__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .hamburger__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .hamburger__box {
    right: 0 !important;
}

.hamburger__btn {
    position: fixed;
    top: 20px;
    right: 35px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 11;
}

.hamburger__btn > span,
.hamburger__btn > span::before,
.hamburger__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition-duration: .25s;
}

.hamburger__btn > span::before {
    content: '';
    top: -8px;
}

.hamburger__btn > span::after {
    content: '';
    top: 8px;
}

.hamburger__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100%;
    margin: 0px;
    padding: 30px 0;
    list-style: none;
    background-color: saddlebrown;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 10;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: rgb(100, 50, 14);
}

.header {
    background: url(assets/header/header-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.titlePortfolio {
    font-size: 80px;
    position: relative;
}

.titlePortfolio::before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 10px;
    z-index: -2;

    bottom: -2%;
    left: 0;
    right: 10%;
}

.titlePortfolio::after {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 3px;
    z-index: -2;

    bottom: -10%;
    left: 0;
    right: 60%;
}

.nameDesc {
    color: white;
    text-align: end;
    position: relative;
    z-index: 2;
}

.nameDesc::before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 3px;
    bottom: -2%;
    left: 80%;
    right: 0;
    z-index: -2;
}

.nameDesc::after {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 3px;
    bottom: -2%;
    top: 10%;
    bottom: 0;
    z-index: -3;
}

.name {
    font-size: 50px;
    font-weight: bold;
}

.navBottom ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navBottom a {
    color: white;
    text-decoration: none;
}

.navBottom a:hover {
    background: rgb(100, 50, 14);
    padding: 5px;
}

/*  ABOUT ME */
#aboutMe {
    background: rgb(255, 255, 255);
    background-size: cover;
    color: rgb(0, 0, 0);
    display: flex;
}

.aboutMe-wrap {
    display: flex;
    justify-content: space-evenly;
}

.aboutMe__desc {
    width: 60%;
}

#aboutMe p {
    padding-top: 10px;
    font-size: 12pt;
    text-align: justify;
    margin: 30px 30px;
}

.transparentTitle img {
    width: 400px;
    margin-top: 60px;
    z-index: -2;
}

/*  DESIGN  */
#design {
    background: rgb(199, 178, 153);
}

.designContent {
    border: solid white 5px;
    width: 100%;
}

.designContent h2 {
    color: white;
    text-align: center;
}

.designContent ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px;
}

.design__ozoraResto img {
    width: 100%;
    justify-content: center;
}

.design__banner ul {
    list-style: none;
}

.design__banner li>img {
    width: 500px;
}

/*  ARTWORK   */
#artwork {
    background: rgb(183, 183, 183);
    display: flex;
}

#artwork h1::before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 5px;
    bottom: 0px;
    left: 0;
    right: 40%;

    z-index: -2;
}

.artworkShowcase {
    user-select: none;
}

[type=radio] {
    display: none;
}
  
#artworkSlider {
    height: 35vw;
    position: relative;
    perspective: 5000px;
    transform-style: preserve-3d;
}
  
#artworkSlider label {
    margin: auto;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}
  
#artwork-s1:checked ~ #artwork4, #artwork-s2:checked ~ #artwork5,
#artwork-s3:checked ~ #artwork1, #artwork-s4:checked ~ #artwork2,
#artwork-s5:checked ~ #artwork3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-300px);
}
  
#artwork-s1:checked ~ #artwork5, #artwork-s2:checked ~ #artwork1,
#artwork-s3:checked ~ #artwork2, #artwork-s4:checked ~ #artwork3,
#artwork-s5:checked ~ #artwork4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}
  
#artwork-s1:checked ~ #artwork1, #artwork-s2:checked ~ #artwork2,
#artwork-s3:checked ~ #artwork3, #artwork-s4:checked ~ #artwork4,
#artwork-s5:checked ~ #artwork5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}
  
#artwork-s1:checked ~ #artwork2, #artwork-s2:checked ~ #artwork3,
#artwork-s3:checked ~ #artwork4, #artwork-s4:checked ~ #artwork5,
#artwork-s5:checked ~ #artwork1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
}
  
#artwork-s1:checked ~ #artwork3, #artwork-s2:checked ~ #artwork4,
#artwork-s3:checked ~ #artwork5, #artwork-s4:checked ~ #artwork1,
#artwork-s5:checked ~ #artwork2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
}
  
#artwork1 { background: url(/portfolio/assets/artworkPortfolio/1.jpg) no-repeat; background-size: cover; background-position: top center;}
#artwork2 { background: url(/portfolio/assets/artworkPortfolio/2.jpg) no-repeat; background-size: cover; background-position: center;}
#artwork3 { background: url(/portfolio/assets/artworkPortfolio/3.jpg) no-repeat; background-size: cover; background-position: top center;}
#artwork4 { background: url(/portfolio/assets/artworkPortfolio/4.jpg) no-repeat; background-size: cover; background-position: center;}
#artwork5 { background: url(/portfolio/assets/artworkPortfolio/5.jpg) no-repeat; background-size: cover; background-position: center;}

/*  PHOTOGRAPHY */
#photography {
    background: rgb(153, 134, 117);
    display: flex;
    flex-wrap: wrap;
}

.photographyCollage {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 10px;
}

.collage__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.collage__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.collage__item--2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

.collage__item--3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.collage__item--4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}

.collage__item--5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.collage__item--6 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
}

.collage__item--7 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.collage__item--6 img {
    object-position: center;
}

.photographyDesc p {
    margin-top: 15px;
    color: white;
}
/*  WRITING */
.writing {
    background: rgb(149, 149, 149);
}

.writingTitle {
    position: relative;
    z-index: 2;
}

.writingTitle::before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 5px;
    bottom: 0px;
    left: 0;
    right: 75%;

    z-index: -2;
}

/*  CONTACT */
#contact {
    background: rgb(60, 184, 120);
}

#contact h1 {
    text-align: end;
    margin-bottom: 10px;
    font-size: 20px;
}

.ContactList {
    display: flex;
}

.LocationEmail {
    padding-left: 30px;
}

.LocationEmail {

}

.SocialMedia {
    display: none;
}