@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
    background-color: brown;
    margin: 0px auto;
	max-width: 50%;
    padding: 0px 15px;
}

.container {
    font-family: 'Zen Old Mincho';
    width: 990px;
}

.header {
    position: relative;
    top: 0px;
    z-index: 1;
}

.menu-btn {
    background-image: url("assets/Christmas-bg-mitsu-no-special-menu.png");
    position: absolute;
    top: 314px;
    width: 990px;
    height: 728px;
}

.btn-decoration {
    position: absolute;
    z-index: 2;
}

#menu-btn-decor1 {
    margin: 145px auto 0px;
}

#menu-btn-decor2 {
    position: relative;
    top: -30px;
}

.btn-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
	
	justify-content: space-around;
	margin: 400px auto;
}

.btn-list ul > li {
	display: inline;
	list-style: none;
}

.btn-list img {
    padding: 0px 25px;
}

.menu-background {
    background: url("assets/Background.png") no-repeat;
    margin-top: 430px;
    padding-bottom: 300px;
}

.decoration img {
    margin-top: 10px;
    position: absolute;
}

/* --- */

.gyokai-kare {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px 15px;
    padding: 10px 15px;
}

.menu-title-border-gyokaikare img {
    margin-top: 230px;
}

.menu-img {
    border-color: rgb(231, 192, 142);
    border-width: 5px;
    border-style: solid;
    position: relative;
}

.menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.menu-desc {
    border-color: rgb(231, 192, 142);
    border-width: 5px;
    border-style: solid;
    color: white;
    margin-left: 20px;
    padding: 15px;
    position: relative;
}

.menu-desc-gyuutanramen {
    border-color: rgb(231, 192, 142);
    border-width: 5px;
    border-style: solid;
    color: white;
    margin-right: 20px;
    padding: 15px;
    position: relative;
}

.menu-desc > h2 {
    padding-bottom: 5px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
}

.menu-notes {
    padding-top: 25px;
}

/* --- */

.gyuutan-ramen {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
    margin: 0px 30px 15px;
    padding: 10px 15px;
}

.menu-title-border-gyuutanramen img {
    margin-top: 122px;
}

/* --- */

.hitsumabushi {
    display: flex;
    flex-wrap: wrap;
	
	justify-content: space-around;
    margin: 0px 30px 0px;
    padding: 10px 15px;
}

.menu-title-border-hitsumabushi img {
    margin-top: 45px;
}

/* --- */

.footer {
    margin: 250px 35px;
    z-index: 55;
}

.footer h1 {
    border-bottom: 1px solid;
    border-width: 1px;
    font-size: 48px;
}

.footer p {
    font-size: 24px;
    margin-top: 5px;
}